---
                                            Московский Авиационный Институт  
                                      (Национальный Исследовательский Университет)  
        
                
                
    Кафедра 806 «Вычислительная математика и программирование»  
    Институт: «Информационные технологии и прикладная математика»  
    Дисциплина: «Разработка ПО для высокопроизводительных систем»        
                


                                            -------------------------------
                                            Лабораторная работа по Pandas №1  
                                            -------------------------------    
                                            
                                            
                                            
                                                                                Группа: М8О-103М-20  
                                                                                Студент: Винников Алексей Владимирович  
                                                                                Преподаватель: Поповкин Александр Викторович  
                                                                                
                                                                                
                                                                                
                                                     Москва, 2020  
                                                         
---

Импортировать модули sys numpy pandas

In [1]:
import sys
import numpy as np
import pandas as pd

Создать объект pandas Series из листа, объекта NumPy, и словаря

In [2]:
ser1 = pd.Series([[0,1,2], np.arange(3), {"key1": 0, "key2": 1, "key3":2}])
ser1

0                            [0, 1, 2]
1                            [0, 1, 2]
2    {'key1': 0, 'key2': 1, 'key3': 2}
dtype: object

Преобразовать объект Series в DataFrame

In [3]:
df1 = pd.DataFrame(ser1)
df1

                                   0
0                          [0, 1, 2]
1                          [0, 1, 2]
2  {'key1': 0, 'key2': 1, 'key3': 2}

создать объект Series

In [4]:
ser2 = pd.Series([1,2,3])
ser2

0    1
1    2
2    3
dtype: int64

преобразовать в DataFrame

In [5]:
df2 = pd.DataFrame(ser2)
df2

   0
0  1
1  2
2  3

объединить несколько объектов Series в Dataframe

In [6]:
ser3 = pd.Series([1, 2, 3])
ser4 = pd.Series([4, 5, 6])
ser5 = pd.Series([7, 8, 9])
df3 = pd.concat([ser3, ser4, ser5], axis=1)
df3

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

Присвоить имя индексу объекта Series

In [7]:
ser6 = pd.Series([1, 2, 3])
ser6.name = "index_name"
ser6

0    1
1    2
2    3
Name: index_name, dtype: int64

Получить элементы объекта Series A, которых нет в объекте Series B

In [8]:
ser7_a = pd.Series(np.arange(10));
ser7_b = pd.Series(np.arange(7));
ser7_a[~(ser7_a.isin(ser7_b))]

7    7
8    8
9    9
dtype: int32

возвратить вместе с индексами

In [9]:
ser7_a[~(ser7_a.isin(ser7_b))]

7    7
8    8
9    9
dtype: int32

возвратить значения

In [10]:
ser7_a[~(ser7_a.isin(ser7_b))].values

array([7, 8, 9])

Получить не пересекающиеся элементы в двух объектах Series

In [11]:
ser_8_a = pd.Series([1, 2, 3, 4, 5, 1])
ser_8_b = pd.Series([4, 5, 6, 7, 8, 9])

ser_8_a_uq = ser_8_a[~(ser_8_a.isin(ser_8_b))]
ser_8_b_uq = ser_8_b[~(ser_8_b.isin(ser_8_a))]

ser_8_result = pd.concat([ser_8_a_uq, ser_8_b_uq], axis=0, ignore_index=True)
ser_8_result

0    1
1    2
2    3
3    1
4    6
5    7
6    8
7    9
dtype: int64

возвратить вместе с индексами

In [12]:
ser_8_result

0    1
1    2
2    3
3    1
4    6
5    7
6    8
7    9
dtype: int64

получить объединенный Series без повтороений

In [13]:
ser_9_a = pd.Series(np.arange(10))
ser_9_b = pd.Series(np.arange(10) + 5)
ser_9_union = pd.Series(np.union1d(ser_9_a, ser_9_b))
ser_9_union

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int32

получить пересекающиеся данные

In [14]:
ser_9_intersect = pd.Series(np.intersect1d(ser_9_a, ser_9_b))
ser_9_intersect

0    5
1    6
2    7
3    8
4    9
dtype: int32

отобрать все данные, кроме пересекающихся

In [15]:
ser_9_setxor = pd.Series(np.setxor1d(ser_9_a, ser_9_b))
ser_9_setxor

0     0
1     1
2     2
3     3
4     4
5    10
6    11
7    12
8    13
9    14
dtype: int32

возвратить значения

In [16]:
ser_9_setxor.values

array([ 0,  1,  2,  3,  4, 10, 11, 12, 13, 14])